{% extends 'base.html.twig' %}

{% block body %}
    <h3 class="text-xl font-bold">Documents processing</h3>
    <div class="p-8">
        <a
            href=""
            class="py-2 px-4 rounded bg-green-600 text-white"
            data-button="process-doc"
        >process</a>
        <div class="p-8" data-message="uuid">
            pour l'exemple le fake document est traité en 10 secondes par le worker
        </div>
    </div>
{% endblock %}
